<!-- index.erb -->
<!DOCTYPE html>
<head>
  <link href="/css/main.css" media="all" rel="stylesheet">
  <title>Totally Legit Horoscopes.com -- The best in automated internet horoscores</title>
</head>
<body>
    <%show_menu = true if show_menu.nil? %>
    <div class='header'>
        <%if locals[:title] == 'Totally Legit Horoscopes' %>
          <%= locals[:title] %>
        <%else%>
          <a href='/'><%='Totally Legit Horoscopes'%></a><%=': ' + locals[:title] %>
        <%end%>
    </div>
    <div class='redline'></div>
    <% unless show_menu == false %>
      <%= erb :menu %>
    <% end %>
    <%= yield %>
</body>
</html> 